# ==============================================================================
# Configuração do Projeto AWS - EXEMPLO
# ==============================================================================

# Credenciais AWS
AWS_PROFILE=default         # Profile do ~/.aws/credentials (ou deixe vazio para default)
AWS_REGION=us-east-1

# Identificação do Projeto
PROJECT_NAME=DataApp
ENV=Prod

# Configuração de Portas
LOCAL_PORT=5433
REMOTE_PORT=5432

# Credenciais RDS
DB_USER=postgres
# DB_PASS será solicitado interativamente no deploy
