# ==============================================================================
# Configuração do Projeto AWS - Terraform
# ==============================================================================

# AWS
AWS_PROFILE=default
AWS_REGION=us-east-1

# Projeto
PROJECT_NAME=DataApp
ENVIRONMENT=Prod

# RDS
DB_USERNAME=postgres
# DB_PASSWORD será solicitado no deploy

# Infraestrutura
BASTION_INSTANCE_TYPE=t3.nano
RDS_INSTANCE_CLASS=db.t4g.micro
RDS_ALLOCATED_STORAGE=20

# Conexão
LOCAL_PORT=5433
REMOTE_PORT=5432
